<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="glimpse.sample">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".SampleApp"
            android:theme="@style/AppTheme">
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.com.vansuita.pickimage.provider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/picker_provider_paths"/>
        </provider>

        <activity android:name=".TestCropActivity"/>
        <activity android:name=".ImageActivity"/>

        <activity android:name=".ImagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>